@page
@model Academic_Blog_App.Pages.LecturePage.ReviewPostModel
@{

}

<style>
    .pl-table {
        .row {
            margin: 5px 0;
            padding: 0 20px;
            align-items: center;
        }

        .col {
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .pl-thead {
            color: #979797;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            margin: 15px 0;
            &.tall {
                background-color: #263338;
                margin: 0;
                padding: 5px 0;
                color: rgba(255, 255, 255, 0.7);
                text-transform: initial;
                .col {
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                    text-align: center;
                    align-self: stretch;
                    &:last-child {
                        border: none;
                    }

                    .large {
                        font-size: 21px;
                        color: #ffffff;
                    }
                }
            }
        }

        .pl-tbody {
            .row {
                background-color: #ffffff;
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: 14px;
            }

            &.scroll {
                max-height: 100%;
                overflow-x: scroll;
            }
        }
    }

    span {
        color: lightblue;
    }

    p {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<div class="body_bg layout_padding" style="padding: 40px;">
    <section class="service_section">
        <div class="pl-table">
            <div class="pl-thead tall">
                <div class="row">
                    <div class="col">Title</div>
                    <div class="col">Description</div>
                    <div class="col">Status</div>
                    <div class="col">View Detail</div>
                </div>
            </div>
            <div class="pl-tbody scroll">
                <div class="row">
                    <div class="col">
                        <p style="-webkit-line-clamp: 1 !important">
                            Ném data vào đây
                        </p>
                        <span>Tên người dùng</span>
                    </div>
                    <div class="col">
                        <p>
                            Ném data vào đây
                        </p>
                    </div>
                    <!-- Đổi màu theo status
                            - Đỏ: Rejected: <class="bg-danger"/>
                            - Vàng: Pending: <class="bg-warning"/>
                            - Xanh: Approved: <class="bg-success"/>
                    -->
                    <div class="col text-center bg-warning">Pending</div>
                    <div class="col text-center">
                        <a class="btn btn-light" href="/LecturePage/ReviewPostDetail">
                            <i class="fa fa-eye" style="font-size: 48px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>