@page
@model Academic_Blog_App.Pages.BlogPage.CreateNewBlogModel
@{

}

<style>
    label {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
    }
</style>

<div class="body_bg layout_padding" style="padding: 40px;">
    <section class="service_section">
        <form class="container" method="post">
            <div class="box">
                <div class="d-flex flex-column w-100 form-group">
                    <label style="font-size:38px !important">Title</label>
                    <textarea class="mw-100" pattern=".*[^ ].*" required
                              placeholder="Tiêu đề"></textarea>
                </div>
                <div class="d-flex flex-column w-100 form-group">
                    <label @*asp-for="Category"*@ class="control-label">Categories</label>
                    <select class="form-control cusSelect" name="statusSelect" required>
                        <option>0</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="d-flex flex-column w-100 form-group">
                    <label for="thumbnail">Thumbnails</label>
                    <input type="file" id="thumbnail" accept="image/png, image/jpeg"/>
                </div>
                <div class="d-flex flex-column w-100 form-group">
                    <label>Description</label>
                    <textarea id="mytextarea" pattern=".*[^ ].*" required>Text some your content here.</textarea>
                </div>
                <div class="d-flex flex-column w-100 align-items-end">
                    <input class="py-2 px-5 btn btn-outline-primary" type="submit" name="Submit" value="Create"/>
                </div>
            </div>
        </form>
    </section>
</div>