@page
@model Academic_Blog_App.Pages.BlogPage.ViewBlogDetailModel
@{
}

<!--
    hình avatar | author name
    Title
    Review DateTime
    Description
-->


<div class="body_bg layout_padding" style="padding: 40px;">
    <section class="service_section">
        <div class="container">
            <div class="row" style="margin: 40px 0;">
                <div class="col-md-2">
                    <img class="rounded-circle shadow" src="~/images/client.jpg" alt="" style="width: 150px; height: 150px "/>
                </div>
                <div class="col-md-10" style="display: block; margin: auto 0; padding-right: 20px;">
                    <h5 style="margin: 0; font-weight: 700; font-size: 24px; ">
                        Thợ thầy THANH LEE
                    </h5>
                </div>
            </div>
            <div class="box" style="width: 100% !important">
                <h2 style="margin: 20px 0; font-size: 38px; font-weight: bold;">Kỉ niệm tuyệt vời với người con gái anh yêu</h2>
                <span style="color: red;">Posted: November 11, 6996</span>
                <p style="margin: 12px 0; font-size: 20px; padding: 10px 0;">
                    Anh yêu em nhiều lắm. Mai em cho anh ấy ấy nhé. I LOVE YOU 2999.
                </p>
            </div>
        </div>
    </section>
</div>