@page
@model Academic_Blog_App.Pages.BlogPage.ViewAllBlogModel
@{
}

<style>
    p {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h4 {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .textCrop {
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="body_bg layout_padding">
    @*foreach (var item in Model.Blogs)
    {
    <section class="service_section mb-5">
        <div class="container">
            <div class="row border border-dark">
                <div class="col-md-3 py-3">
                    <img class="img-thumbnail image-blog" src="~/images/.png" alt="Responsive Image" /> // Thay doi data
                </div>
                <div class="col-md-8 py-3 align-self-center">
                    <div class="textCrop">
                            <a class="nav-link" href="/BlogPage/ViewBlogDetail?" style="color: #e9a21a; padding: 0; border: 0"> // Query
                                <h4>
                                    Ném data vào đây.
                                </h4>
                            </a>
                            <p>
                                Ném data vào đây
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }*@
</div>
