@page
@model Academic_Blog_App.Pages.BlogPage.ViewAllBlogModel
@{
}

<style>
    p {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h4 {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .textCrop {
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<div class="body_bg layout_padding">
    @foreach (var item in Model.Blogs) {
        <section class="service_section mb-5">
            <div class="container">
                <div class="row border border-dark">
                    <div class="col-md-3 py-3">
                        <img class="img-thumbnail image-blog d-block mx-auto" src="~/@item.Thumbnal_Url" alt="Responsive Image" />
                    </div>
                    <div class="col-md-8 py-3 align-self-center">
                        <div class="textCrop">
                            <a class="nav-link" href="/BlogPage/ViewBlogDetail?blogId={@item.Id}&authorId={@item.AuthorId}" style="color: #e9a21a; padding: 0; border: 0">
                                <h4>
                                    @item.Title
                                </h4>
                            </a>
                            <p>
                                @item.ShortDescription
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>